<p>play works!</p>
<div *ngIf="players.length >= 1">player 1: {{ players[0]['username'] }}</div>
<div *ngIf="players.length >= 2">player 2: {{ players[1]['username'] }}</div>
<div>currently turn: {{ currentlyTurn['username'] }}</div>
<div>timer: {{ timer }}</div>
<div *ngIf="winner != ''">
  <div>winner: {{ winner }}</div>
</div>
<div class="game-board">
  <table>
    <tbody>
    <tr *ngFor="let row of gameBoard">
      <td *ngFor="let cell of row" (click)="handleCellClick(cell.rowIndex, cell.colIndex)">{{ cell.value }}</td>
    </tr>
    </tbody>
  </table>
</div>
