.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 10px solid #b700ff;
  border-top: 10px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 24px;
  color: #bf00ff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
