<div id="content" class="flex-column">
  <section>
    <div class="animate-div col-md-8 d-flex flex-column justify-content-center align-items-center">
      <app-user class="col-md-8 d-flex flex-column justify-content-center align-items-center"
                [User]=SelfUser></app-user>
      <div style="text-align: center;">
        <h3>Search Play</h3>
      </div>
      <div class="btn-container col-md-8 d-flex flex-column justify-content-center align-items-center">
        <button class="custom-btn btn_ btn" (click)="searchPlay('3x3')"><span>Play 3x3</span></button>
        <button class="custom-btn btn_ btn" (click)="searchPlay('19x19')"><span>Play 19x19</span></button>
      </div>
    </div>
  </section>
  <section class="col-md-2 flex-column justify-content-center align-items-center mx-auto">
    <div class="users-list-container justify-content-center"
         style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
      <div class="text-center">
        <h3>Top Players</h3>
      </div>
      <div class="text-center">
        <div class="users-list">
          <div *ngFor="let user of users" class="user-item">
            {{ user.username }} | rating: {{ user.rating }}
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
